<html>
    <head>
        <script src='https://www.google.com/recaptcha/api.js'></script>    
    </head>
    <body>
        <h1>
            Download: {{ .filename }}
        </h1>
        <form action="">
            <div class="g-recaptcha" data-sitekey="6LdZxR4TAAAAAKdf2cgsJxS_HID0zKFwgHd3GiG3"></div>
        <input type="submit" value="Download">
        </form>
        </body>
</html>
