
<html ng-app="myUpload" >
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>

  <script>

  </script>
<head>
  <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

  <link href='static/css/main.css' rel='stylesheet' type='text/css'>
  <link href='static/css/term.css' rel='stylesheet' type='text/css'>

</head>
<body>
<h4>
  Quickly share files from the command line or webapp
</h4>

<div id="mainDemo">
 	<div id="toolbar">
		<div class="top">
			<div id="lights">
				<div class="light red">
					<div class="glyph">×</div>
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
				<div class="light yellow">
					<div class="glyph">-</div>
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
				<div class="light green">
					<div class="glyph">+</div>
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
			</div>
			<div id="bubble">
				<div class="shine"></div>
				<div class="glow"></div>
			</div>
		</div>
	</div>
	<div id="body">
		<p>$ curl --upload-file ffmpeg.tar http://url.no/ffmpeg.tar</p>
    <p>
      {"downloadURL":"http://url.no/cvch/ffmpeg.tar","deleteURL":"http://url.no/cvch/tWgeUaLv/ffmpeg.tar"}
    </p>
      <br> </br>
    <p>$ curl -X DELETE http://url.no/cvch/tWgeUaLv/ffmpeg.tar</p>
    <p>
      {"msg":"File deleted"}
    </p>
		<div class="cursor"></div>
	</div>
</div>
<div id="quickUpload" ng-controller="uploadCtrl">
  <p>
    or just <a href="#" onclick="document.getElementById('uploadFile').click(); return false;"> click here </a>
      <input type="file" ngf-select="uploadFile($file, $invalidFiles)" id="uploadFile" ngf-select ng-model="ngFile" name="file"
             ngf-max-size="2000MB" required
             ngf-model-invalid="errorFile">
  </p>
</div>

<div id="progressUpload" class="horizontalCenter">
    <div class="progress" ng-controller="uploadCtrl">
      <uib-progressbar value="data.progress"></uib-progressbar>
    </div>
</div>

<div id="icons">
  <figure>
    <img class="icon" src="static/icons/heart.svg"></img>
    <figcaption> 100% free </figcaption>
  </figure>
  <figure>
    <img class="icon" src="static/icons/cloud.svg"></img>
    <figcaption> CDN based </figcaption>
  </figure>
  <figure>
    <img class="icon" src="static/icons/safety.svg"></img>
    <figcaption> secure </figcaption>
  </figure>
</div>
</body>
</html>
